[2019-04-29 11:31] iirina opened #6 "release: java_tools_javac10-v3.0"
RCs testing happens in https://github.com/bazelbuild/bazel/pull/8182

All generated RCs are in https://pantheon.corp.google.com/storage/browser/bazel-mirror/bazel_java_tools/release_candidates/javac10/v3.0/

[2019-04-29 11:33] iirina commented on #6
Created rc1 at commit https://github.com/bazelbuild/bazel/commit/74bf7888b794d5ec0a09f0d49abdfdeeef7a0c3b:

https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/63

[2019-04-29 11:35] iirina commented on #6
Created rc2 at commit https://github.com/bazelbuild/bazel/commit/a6abef691fbb5f52f3c3d397d06f3ad489a1acb3

https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/64

[2019-04-29 11:38] iirina commented on #6
rc2 failes on buildkite: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/2735 due to `missing input file '@remote_java_tools_linux//:java_tools/javac-9+181-r4173-1.jar'`

Fix sent in https://github.com/bazelbuild/bazel/pull/8183

[2019-04-29 12:15] iirina commented on #6
Created rc3 at commit https://github.com/bazelbuild/bazel/commit/3ab4dbcac917d7298d81c9c6868c1c83b4d5838e

https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/65

[2019-04-29 13:53] iirina commented on #6
All tests passed for RC3: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/2742

[2019-04-29 14:17] iirina commented on #6
The java_tools_javac10-v3.0 release can be found in https://pantheon.corp.google.com/storage/browser/bazel-mirror/bazel_java_tools/releases/javac10/v3.0/

[2019-04-29 14:51] iirina commented on #6
The `:toolchain` target inside the release is faulty. When trying to replace Bazel's default toolchain with the toolchain of `java_tools_javac10-v3.0` I got the following errors: `Missing input files: @remote_java_tools_linux//:javabuilder`.

[2019-04-29 16:38] iirina commented on #6
Creating rc1 for patch release `java_tools_javac10-v3.1` at commit https://github.com/bazelbuild/bazel/commit/b0317496ce596a36eea8f95d3af650a74d6a29d5
https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/66

[2019-04-30 05:54] iirina commented on #6
rc1 was released as `java_tools_javac10-v3.1` in https://pantheon.corp.google.com/storage/browser/bazel-mirror/bazel_java_tools/releases/javac10/v3.1

[2019-04-30 07:06] iirina commented on #6
The java_tools version in bazel was upgraded to `java_tools_javac10-v3.1` in https://github.com/bazelbuild/bazel/commit/888716990fd1fe0cc3370e5a7e1d5ec2c75dec92.

[2019-04-30 07:06] #6 closed

[2019-05-15 08:11] iirina opened #7 "release: java_tools_javac11-v1.0"
Created artifacts for rc1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/103

release candidates can be found under [bazel_java_tools/release_candidates/javac11/v1.0](https://pantheon.corp.google.com/storage/browser/bazel-mirror/bazel_java_tools/release_candidates/javac11/v1.0/?pli=1)

Upgrading the java_tools version in bazel is happening in https://github.com/bazelbuild/baz

[2019-05-15 08:18] iirina commented on #7
proguard was added to the java_tools zip in bazel after rc1 was created, so creating rc2 to include proguard: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/104

* pipeline failed due to a bug in generating the java_tools sources zip.
* bug fixed by https://github.com/bazelbuild/bazel/pull/8311

[2019-05-15 08:19] iirina commented on #7
Started pipeline for generating rc2: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/106#b282057d-c38e-4b75-8c37-b4dbb6b4b552

[2019-05-15 09:46] iirina commented on #7
creating rc2 in GCS by runnning

[code]

[2019-05-15 11:00] iirina commented on #7
Updated java_tools version in bazel to rc2 in https://github.com/bazelbuild/bazel/pull/8302

Buildkite pipeline: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/2925

[2019-05-15 12:53] iirina commented on #7
Releasing rc2:

[code]

[2019-05-15 14:05] #7 closed

[2019-05-29 13:25] iirina opened #8 "release java_tools javac11-v2.0"
The release must contain https://github.com/bazelbuild/bazel/pull/8490

This issue follows the instructions under [java_tools release process](https://docs.google.com/document/d/1k8xVJBxca2o4dfrRgeYPFLrLVcK-bDPGNgfBzDH8hEM).

[2019-05-29 15:28] iirina commented on #8
Creating rc1:
bazel commit hash: 1de8aa398434ffb2e5c97d35ba97a80ea70a79db
build: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/107

[2019-05-29 16:58] iirina commented on #8
Bazel upgrade is happening in https://github.com/bazelbuild/bazel/pull/8498

[2019-05-29 17:29] iirina commented on #8
The tests fail due to a circular dependency:

[code]

This requires a fix in bazel and a new rc.

[2019-05-31 11:21] iirina commented on #8
Fix was sent in https://github.com/bazelbuild/bazel/pull/8529. A new RC can be created after https://github.com/bazelbuild/bazel/pull/8529 is merged in bazel.

[2019-05-31 14:02] iirina commented on #8
Creating rc2:
bazel commit hash: 3dc59e400a9e0a57f34aa990ec410a1b2af760d3
build: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/108

[2019-06-03 07:17] iirina commented on #8
Creating rc3:

bazel commit hash: 00b5dadc485f968bced9dc152d9f391a3dc1992b
build: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/111

[code]

[2019-06-03 07:30] iirina opened #9 "release java_tools javac12-v1.0"
Releasing the first java tools version that contains javac 12.

[2019-06-03 07:36] iirina commented on #9
Creating rc1:
build: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/112

[2019-06-03 08:19] iirina opened #10 "release: java_tools javac9-v2.0, javac10-v4.0"
A new release for java_tools embedding javac9 and javac10 is needed to be compatible with bazel 0.26 and later.

bazel 0.26 introduced `jacocorunner` attribute on `java_toolchain`.

[2019-06-03 08:20] iirina commented on #10
Creating rc1 for javac10-v4.0

[code]

[2019-06-03 11:33] iirina commented on #8
My change in the buildkite pipeline settings was not enough to build on Ubuntu 14. I sent a PR to change this setting in the pipeline yml configuration file as well (https://github.com/bazelbuild/continuous-integration/pull/695)

New build for RC 4: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/113

[2019-06-03 12:53] iirina commented on #9
RC1 doesn't work because the toolchain has to use `-source 12`

New build for RC2: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/114

[2019-06-03 13:07] iirina commented on #10
Creating rc2 for javac9-v2.0

[code]

Creating rc2 for javac10-v2.0

[code]

[2019-06-03 13:54] iirina commented on #8
All tests passed. Releasing RC4:

[code]

[2019-06-03 13:57] iirina commented on #10
All tests passed, releasing RC2:

`java_tools_javac9-v2.0`:
[code]

`java_tools_javac10-v4.0`:
[code]

[2019-06-03 14:33] iirina commented on #9
All tests passed with RC2: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/3192

[2019-06-04 07:31] #10 closed

[2019-06-04 07:31] #8 closed

[2019-06-13 09:09] #9 closed

[2019-07-04 08:39] iirina opened #11 "release: java_tools_javac11-v3.0"
This new release contains loading `@rules_java` statements inside the java_tools BUILD file.

This issue follows the [java_tools release process](https://docs.google.com/document/d/1k8xVJBxca2o4dfrRgeYPFLrLVcK-bDPGNgfBzDH8hEM/view).

release candidates can be found under [bazel_java_tools/release_candidates/javac11/v3.0](https://pantheon.corp.google.com/storage/browser/bazel-mirror/bazel_java_tool

[2019-07-04 08:41] iirina commented on #11
Started pipeline for rc1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/117

[2019-07-05 09:47] iirina commented on #11
Pipeline finished successfully. However I decided to put on hold the release and wait for a bazel change that adds a load statement for `@rules_cc` in java_tools's BUILD file.

Since RC1 was not created in GCS I'll re-trigger a new pipeline with a new commit hash for RC1.

[2019-07-09 08:19] iirina commented on #11
Starting all over again:

Pipeline for rc 1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/118

Commit hash: `a639b562ac7f9d1d7997d1b9ab46a8b4657dd09d`

[2019-07-09 10:37] iirina commented on #11
Creating RC1:

[code]

[2019-07-09 10:44] iirina commented on #11
Pipeline for RC1 finished successfully. Upgrading java_tools version in bazel in https://github.com/bazelbuild/bazel/pull/8827

[2019-07-09 11:28] iirina commented on #11
All tests passed on Bazel CI, releasing RC1:

[code]

[2019-07-10 11:38] iirina commented on #11
Version upgraded in Bazel.

[2019-07-10 11:38] #11 closed

[2019-07-23 14:06] iirina opened #12 "release: java_tools_javac11-v4.0"
The new release:
* fixes https://github.com/bazelbuild/bazel/issues/8614
* exposes a new toolchain `@java_tools//:prebuilt_toolchain` which is using all the pre-built tools, including singlejar and ijar, even on remote execution. This toolchain should be used only when host and execution platform are the same, otherwise the binaries will not work on the execution platform.

This issue follows the

[2019-07-23 14:07] iirina commented on #12
Started pipeline for rc1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/119

[2019-07-23 15:07] iirina commented on #12
Creating RC1:

[code]

[2019-07-23 15:12] iirina commented on #12
Upgrading java_tools version in bazel in https://github.com/bazelbuild/bazel/pull/8960

Bazel CI tests started: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/3779

[2019-07-23 16:05] iirina commented on #12
CI finished successfully, releasing:

[code]

[2019-07-23 16:06] iirina commented on #12
Release artifacts & checksums:

[code]

[2019-07-24 07:38] iirina opened #13 "release: java_tools_javac9-v3.0"
The new release:
* fixes https://github.com/bazelbuild/bazel/issues/8614
* exposes a new toolchain `@java_tools//:prebuilt_toolchain` which is using all the pre-built tools, including singlejar and ijar, even on remote execution. This toolchain should be used only when host and execution platform are the same, otherwise the binaries will not work on the execution platform.

This issue follows the

[2019-07-24 07:39] iirina opened #14 "release: java_tools_javac10-v5.0"
The new release:
* fixes https://github.com/bazelbuild/bazel/issues/8614
* exposes a new toolchain `@java_tools//:prebuilt_toolchain` which is using all the pre-built tools, including singlejar and ijar, even on remote execution. This toolchain should be used only when host and execution platform are the same, otherwise the binaries will not work on the execution platform.

This issue follows the

[2019-07-24 07:40] iirina commented on #14
Pipeline for rc1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/119
commit hash c392dc2842226f107a25e34f3b941c3c82a97803.

[2019-07-24 07:40] iirina commented on #13
Pipeline for rc1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/119
commit hash c392dc2842226f107a25e34f3b941c3c82a97803.

[2019-07-24 07:54] iirina commented on #13
RC1 artifacts and checksums:

[code]

[2019-07-24 07:58] iirina commented on #14
Creating RC1:

[code]

[2019-07-24 07:59] iirina commented on #14
RC1 artifacts & checksums:

[code]

[2019-07-24 08:02] iirina opened #15 "release: java_tools_javac12-v2.0"
The new release:
* fixes https://github.com/bazelbuild/bazel/issues/8614
* exposes a new toolchain `@java_tools//:prebuilt_toolchain` which is using all the pre-built tools, including singlejar and ijar, even on remote execution. This toolchain should be used only when host and execution platform are the same, otherwise the binaries will not work on the execution platform.

This issue follows the

[2019-07-24 08:02] iirina commented on #15
Pipeline for rc1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/119
commit hash `c392dc2842226f107a25e34f3b941c3c82a97803`

[2019-07-24 08:02] iirina commented on #15
Creating RC1:

[code]

[2019-07-24 08:29] iirina commented on #15
RC1 artifacts && checksums:

[code]

[2019-07-24 08:54] iirina commented on #13
Bazel CI https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/3795 finished successfully.

[2019-07-24 08:54] iirina commented on #14
Bazel CI https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/3795 finished successfully.

[2019-07-24 08:54] iirina commented on #15
Bazel CI https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/3795 finished successfully.

[2019-07-24 08:55] iirina commented on #13
Releasing RC1:

[code]

[2019-07-24 08:57] iirina commented on #13
Release artifacts & checksums:

[code]

[2019-07-24 08:58] iirina commented on #14
Releasing RC1:

[code]

[2019-07-24 09:00] iirina commented on #14
Releases artifacts & checksums:

[code]

[2019-07-24 09:01] iirina commented on #15
Releasing RC1:

[code]

[2019-07-24 09:01] iirina commented on #15
Release artifacts & checksums:

[2019-07-24 09:02] #15 closed

[2019-07-24 09:02] #14 closed

[2019-07-24 09:02] #13 closed

[2019-07-24 09:03] #12 closed

[2019-08-21 14:21] iirina opened #16 "release: java_tools_javac11-v5.0 (target 25th August 2019)"
This issue follows the [java_tools release process](https://github.com/bazelbuild/java_tools/blob/master/docs/release.md)

[2019-08-21 14:22] iirina opened #17 "release: java_tools_javac11-v6.0 (target Oct 7th 2019)"
This issue follows the [java_tools release process](https://github.com/bazelbuild/java_tools/blob/master/docs/release.md).

[2019-08-21 14:23] iirina opened #18 "release: java_tools_javac11-v7.0 (target 25th October 2019)"
This issue follows the [java_tools release process](https://github.com/bazelbuild/java_tools/blob/master/docs/release.md).

[2019-08-21 14:24] iirina opened #19 "release: java_tools_javac11-v7.0 (target date 25th November 2019)"
This issue follows the [java_tools release process](https://github.com/bazelbuild/java_tools/blob/master/docs/release.md).

[2019-08-27 08:01] iirina commented on #16
Started java_tools binaries pipeline at commit hash `f1bbe586fd305714f5240dfb90fcf8664b22f415` https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/120

[2019-08-27 08:51] iirina commented on #16
Created RC1:

[code]

[2019-08-27 08:56] iirina commented on #16
Bazel upgrade in https://github.com/bazelbuild/bazel/pull/9255.

Bazel CI started in https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/4263#8ee71384-f6d7-496e-ac1a-c133be90c0bc

[2019-10-01 11:05] iirina commented on #16
Creating a patch release to fix the performance regression described in https://github.com/bazelbuild/bazel/issues/9270.

The patch release will be cut from https://github.com/bazelbuild/bazel/pull/9455.

[2019-10-01 11:07] iirina commented on #16
Starting java_tools binaries pipeline for commit `5805d6411f7b6714441c90a8481a8e23eeebcbf1` and branch `iirina:cherry-pick-for-java11-v5.1`: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/121

[2019-10-01 11:48] iirina commented on #16
[code]

File names and hashes:
[code]

[2019-10-01 12:45] iirina commented on #16
Updating version in bazel in https://github.com/bazelbuild/bazel/pull/9457

All tests passed in https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/4531.

[2019-10-01 12:46] iirina commented on #16
Releasing RC1:

[code]

File names and hashes:
[code]

[2019-10-07 08:21] #16 closed

[2019-10-08 08:37] iirina commented on #17
Preferably https://github.com/bazelbuild/bazel/pull/9494 is merged before we start the release.

[2019-10-10 11:55] hlopko commented on #17
I assume we decided not to wait for the resolution of #9494. I'll start reading up on the process.

[2019-10-10 16:25] cushon commented on #17
Is https://github.com/bazelbuild/bazel/pull/9980 going to make it into this release?

[2019-10-10 17:36] iirina commented on #17
@cushon Yup. The commit @hlopko cut RC1 is https://github.com/bazelbuild/bazel/commit/f767eb97098f42cc2b86a32ee4e37c7bf9355479

[2019-10-11 11:26] hlopko commented on #17
Created RC1:

[code]

[2019-10-11 11:34] hlopko commented on #17
Updating Bazel's pins in https://github.com/bazelbuild/bazel/pull/9991.

[2019-10-11 13:21] hlopko commented on #17
Releasing :)

[code]

[2019-10-14 07:37] iirina commented on #17
Thank you for releasing, Marcel! We can close this issue now.

[2019-10-15 07:43] iirina commented on #17
This release broke downstream projects because of new error prone checks (https://github.com/bazelbuild/bazel/issues/10023).

Creating a release patch cherry-picking `fe67c70cc43d910465dc415286118a81ad7eece4`

[2019-10-15 07:48] iirina commented on #17
Creating patch release bazel branch to cherry-pick `fe67c70cc43d910465dc415286118a81ad7eece4`: https://github.com/bazelbuild/bazel/pull/10033

[code]

[2019-10-15 07:50] iirina commented on #17
Started pipeline for java_tools-javac1-v6.1-rc1 on branch `iirina:java-tools-cherry-pick-v6.1` and commit `52a920610cc997f979c9304c1df9250a2e80ecf8`: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/123

[2019-10-15 08:12] iirina opened #21 "release: java_tools javac9-v4.0, javac10-v5.0, javac12-v3.0"
A new release for java_tools embedding javac9, javac10, javac12 is needed to be compatible with bazel 1.1 and later.

The 3 releases will have the same bazel commits as javac11-v6.0 (#17):
- baseline `fe67c70cc43d910465dc415286118a81ad7eece4`
- cherry-pick `fe67c70cc43d910465dc415286118a81ad7eece4`

The releases can be cut on branch `iirina:java-tools-cherry-pick-v6.1` and commit `52a920610cc997f9

[2019-10-15 08:40] iirina commented on #17
Pipeline finished successfully, creating rc1:

[code]

Filenames and checksums:

[code]

[2019-10-15 08:44] iirina commented on #17
Upgrading default version in bazel in https://github.com/bazelbuild/bazel/pull/10034

[2019-10-15 08:48] iirina commented on #21
RC1 for javac9-v4.0:

[code]

RC1 for javac10-v5.0

[code]

RC1 for javac12-v3.0

[code]

[2019-10-15 08:51] iirina commented on #21
Upgrading test versions in bazel in https://github.com/bazelbuild/bazel/pull/10035

[2019-10-15 09:16] iirina commented on #21
Bazel CI finished successfully. Releasing:

**java_tools_javac9-v4.0**

[code]

**java_tools_javac10-v5.0**

[code]

**java_tools_javac12-v3.0**

[code]

[2019-10-15 09:18] #21 closed

[2019-10-15 11:00] iirina commented on #17
Bazel CI finished successfully, releasing:

[code]

[2019-10-15 11:00] #17 closed

[2019-11-20 19:35] brown opened #22 "README.md requested improvement"
Please modify the README.md so that it shows the exact command needed to check out the Java tools commit.  For older releases I was able to just execute "git checkout SHA" because the commit was accessible from master or some other public branch.  Recently, I've needed to do "git fetch http://github.com/bazelbuild/bazel.git SHA && git checkout SHA".  It would have been helpful if that sequence wer

[2019-11-21 14:01] iirina commented on #19
Started pipeline for RC1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/124#f14eb744-e2a4-42ac-a10b-6aa779164e33

[2019-11-21 14:01] iirina commented on #18
October release was skipped.

[2019-11-21 14:01] #18 closed

[2019-11-21 14:34] iirina commented on #19
creating rc1:

[code]

[2019-11-22 10:57] iirina commented on #19
Upgrade in bazel in https://github.com/bazelbuild/bazel/pull/10293

[2019-11-22 10:58] iirina commented on #19
All tests pass, releasing:

[code]

[2019-11-22 10:59] #19 closed

[2020-02-18 08:00] iirina opened #23 "release: java_tools_javac11-v8.0"
This issue follows the [java_tools release process](https://github.com/bazelbuild/java_tools/blob/master/docs/release.md).

[2020-02-18 12:18] iirina commented on #23
Started pipeline for RC1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/128

[2020-02-18 12:20] iirina commented on #23
commit hash `0c460ff8959027f8ccebe8d0bc76849348dcf3cc`

[2020-02-18 12:21] iirina commented on #23
[code]

[2020-02-18 12:49] iirina commented on #23
All tests pass https://buildkite.com/bazel/google-bazel-presubmit/builds/30656

[2020-02-18 12:50] iirina commented on #23
Releasing

[code]

[2020-02-18 12:50] #23 closed

[2020-03-03 14:05] DieBauer opened #24 "Wrong url listed in 8.0 release notes"
The release notes state that, in order to override versions you can specify a github url:
`        "https://github.com/bazelbuild/java_tools/releases/download/javac11-8.0/java_tools_javac11_linux-v8.0.zip",`

This does not resolve, and should be changed to `https://github.com/bazelbuild/java_tools/releases/download/javac11_8.0/java_tools_javac11_linux-v8.0.zip`

It looks like the previous releases

[2020-05-05 06:01] davido opened #25 "release: java_tools_javac11-v9.0 release"
New release should be conducted, once the Error Prone PR is merged: [1].

[1] https://github.com/bazelbuild/bazel/pull/11426

[2020-05-08 17:00] ulfjack opened #26 "Release Documentation missing toolchain flags"
The release documentation should mention the toolchain flags. Right now it sounds like the only necessary step is to add the WORKSPACE stanzas, which is clearly not correct.

[2020-05-21 21:36] razfriman opened #27 "Add Java 14 Support"

[2020-05-21 21:39] razfriman commented on #27
CC @iirina Since you created the Java 12 version

[2020-05-22 14:23] aiuto commented on #27
This should be done in rules_java rather than here. Moving the issue.

[2020-06-29 12:11] davido commented on #25
Thanks for working on it.

Once new release candidate is created by `src/create_java_tools_release.sh`, I can upload fist PR with new release candidates `java_tools` artifacts.

[2020-06-29 12:41] philwo commented on #25
Hey, thanks for offering to do that. The number of places where we have to edit the URLs and hashes is crazy. 😅

I already prepared the PR before reading your message here: https://github.com/bazelbuild/bazel/pull/11665

[2020-06-29 13:14] philwo commented on #25
Commands ran for this release:

[code]

PR for testing / merging: https://github.com/bazelbuild/bazel/pull/11665

[2020-06-29 13:30] philwo commented on #25
Release pushed: https://github.com/bazelbuild/java_tools/releases/tag/javac11_v9.0

[2020-06-29 14:14] philwo commented on #25
Bazel switched to new java_tools version: https://github.com/bazelbuild/bazel/commit/5585a182659fb45720283dae3a36a05a09c2e54e

I think we're done here. :)

[2020-06-29 14:14] #25 closed

[2020-06-29 14:49] davido commented on #25
Thanks so much for your help!

[2020-07-14 20:27] davido opened #28 "release: java_tools_javac14-v1.0 release"
Now, that this [PR](https://github.com/bazelbuild/bazel/pull/11514) is merged, new `java_tools_javac14` release should be conducted.

Cc @philwo.

[2020-07-23 11:18] philwo commented on #28
I'll have a look at this today.

[2020-07-23 20:53] philwo commented on #28
Buildkite pipeline finished successfully: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/135

I'm about to run these commands now:

[code]

[2020-07-23 20:56] philwo commented on #28
Done:

[code]

@davido Can you take it from here?

[2020-07-23 21:38] philwo commented on #28
Release uploaded to GitHub, too: https://github.com/bazelbuild/java_tools/releases/tag/javac14_v1.0

[2020-07-23 21:54] davido commented on #28
Thanks, @philwo!

[2020-07-23 21:54] #28 closed

[2020-07-23 22:13] davido commented on #28
@philwo

Thanks again, it works like a charm see updated java 14 toolchain example repository: [1], and updated gerrit change: [2].

[1] https://github.com/davido/bazel_java_toolchain14/blob/master/WORKSPACE#L4
[2] https://gerrit-review.googlesource.com/c/gerrit/+/269382

[2020-08-07 16:06] andrefmrocha opened #29 "release: java_tools_javac11-v9.1 release and java_tools_javac14-v1.1 release"
With [this PR](https://github.com/bazelbuild/bazel/pull/11766), there is a goal to output compilation diagnostics through the BEP. Due to this, changes were introduced to the java_tools, namely to the `BazelJavaBuilder`. For this, it is then required to release a new version of the java_tools.

Please correct me if the versioning system is not as follows.

The changes to the builder were introduce

[2020-08-07 18:30] philwo commented on #29
@andrefmrocha It seems like the tests for the PR don't pass currently - is that because it introduces the changes to BazelJavaBuilder, but then also already uses them? We can only build java_tools releases from commits that are already in Bazel's master branch, otherwise we risk not being able to later determine from which source code the release was actually built.

Could you split the PR into tw

[2020-08-10 08:28] andrefmrocha commented on #29
@philwo yes that was the case! I've just created a PR for that [here](https://github.com/bazelbuild/bazel/pull/11908)

[2020-08-26 21:11] aiuto opened #30 "Document how to use these toolchains"
This snippet was suggested for the bazel  3.5 release notes. It should be really be with the 14.0 release description.

[code]
And invoke the build with these parameters:
[code]

[2020-08-26 21:11] aiuto commented on #30
cc: @davido

[2020-08-27 09:30] davido commented on #30
@aiuto

I think you meant: "It should be really be with the 3.4 release description."

In fact, the above snippet would work just fine with Bazel 3.4, because of Error Prone version was bumped to very recent version in Bazel 3.4 that supported new java JDKs.

However, `java_tools_javac14_darwin-v1.0.zip` release was only published after Bazel release 3.4 was conducted.
And the new `toolchain_jdk_1

[2020-08-27 17:35] aiuto commented on #30
The complaint in the review of the release notes is that the code snippet
does not belong in the blog post.

toolchains releases.
Agreed.
In general, announcements of new toolchains should be with the repository
that provides them.
Instructions for using them as well.
Further, I want to see release notes for incremental (non-major) releases
be fully automated, so there is no need to get PR authors

[2020-08-31 18:38] olekw opened #31 "Please document copyright holders"
Please add an AUTHORS file or similar that documents who holds the copyright for this project.

[2020-09-21 08:53] comius opened #32 "release: java_tools_javac11-v10.0 and java_tools_javac14-v2.0"
Created artifacts for rc1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/136

release candidates can be found under bazel_java_tools/release_candidates/javac11/v10.0 and bazel_java_tools/release_candidates/javac14/v2.0

Upgrading the java_tools version in bazel is happening in https://github.com/bazelbuild/bazel/tree/java_tools_release_javac11-v10_javac14-v2

[2020-09-21 16:36] comius commented on #32
cc @c-mita, @larsrc-google

[2020-09-22 17:39] comius commented on #32
Fixed test data in coverage test, commit 71a48d.
Other failures seem to have been transient.

[2020-09-23 16:43] #32 closed

[2020-10-08 06:46] davido opened #33 "Release: java_tools_javac11-v10.1 (with Java 15 toolchain support)"
Now, that https://github.com/bazelbuild/bazel/issues/11871 is landed, there should be new release with JDK 15 toolchain support.

Ideally, Bazel would consume this new `java_tools` per default, so that Bazel users could just select between supported toolchains: 8, 11, 14 and 15.

[2020-10-08 06:47] davido commented on #33
/Cc @philwo @comius @Jonpez2

[2020-10-09 18:06] comius commented on #33
There is a failing test for java_tools on linux https://github.com/bazelbuild/bazel/issues/12244

[2020-10-19 14:35] comius commented on #33
Creating release artifacts for rc1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/149

[2020-10-19 14:59] comius commented on #33
Testing release candidates: https://github.com/bazelbuild/bazel/pull/12302 and https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1710

[2020-10-19 17:00] comius commented on #33
All tests green, except for bazelisk on Windows, which seem unrelated.

Published the release: https://github.com/bazelbuild/java_tools/releases/tag/javac11_v10.1

[2020-10-20 08:26] davido commented on #33
Thanks!

[2020-10-20 08:26] #33 closed

[2020-10-23 10:31] comius opened #35 "Release: java_tools_javac11-v10.2"

[2020-10-27 11:53] comius commented on #35
rc1 failed:
Problem with setting a new attribute java_runtime on java_toolchains. Need to wait for a Bazel release.
Rolling back: https://github.com/bazelbuild/bazel/commit/3d7c34a94a0946fe984c192b9a88d87231ddce5c

rc2 successful:
Pull request: https://github.com/bazelbuild/bazel/pull/12342
Downstream test: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1729

[2020-10-27 12:12] #35 closed

[2020-11-05 07:29] #29 closed

[2020-11-05 07:46] comius opened #36 "Release: java_tools_javac11-v10.3"
Changes:
- fixes java_toolchain_default
- selects based on constraints (not flags)
- fixed jacoco agent versions

cc @benjaminp,@oquenchil,@c-mita, @lberki

[2020-11-05 11:35] comius commented on #36
Downstream tests at: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1746

Two downstream failures detected: Cloud Robotics Core and FlatBuffers. The cause for the failures is depending on old rules_go release, which depends on old platforms repository. Created pull requests to upgrade rules_go in both failing projects and a pull request to remove platforms dependency from rules_g

[2020-11-05 16:31] #36 closed

[2020-11-11 08:04] Wyverald commented on #36
Hey @comius, could you link the pull requests you created to fix the downstream tests? Thanks!

[2020-11-11 08:30] comius commented on #36
Flatbuffers: https://github.com/google/flatbuffers/pull/6234
Cloud Robotics Core: https://github.com/googlecloudrobotics/core/pull/57
rules_go: https://github.com/bazelbuild/rules_go/pull/2700

[2020-11-18 06:29] comius opened #37 "Release: java_tools_javac11-v10.4"

[2020-11-18 07:19] comius commented on #37
PR https://github.com/bazelbuild/bazel/pull/12505
Downstream test: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1770

[2020-11-18 11:37] comius commented on #37
Downstream failures because of jarjar removal:
rules_kotlin - https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1770#e982f479-652c-4e64-9fcf-86196a25d3d8
intellij (Android Studio plugin) - https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1770#20007163-c765-4e8a-a904-56ca7d9d1641

[2020-11-19 14:35] comius commented on #37
rules_kotlin fix PR https://github.com/bazelbuild/rules_kotlin/pull/399
intellij fix PR https://github.com/bazelbuild/intellij/pull/2218

[2020-11-26 11:45] #37 closed

[2020-11-26 11:45] comius opened #38 "Release: java_tools v11.0"
This release splits java_tools into platform independent and prebuilt part. Toolchain definitions are moved from java_tools to bazel repository.

[2020-11-26 11:52] comius commented on #38
java_tools build pipeline: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/161#cb2ffe65-a848-46f2-a215-13019f52add6
PR with update: https://github.com/bazelbuild/bazel/pull/12552
Downstream tests: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1789

[2020-11-26 12:09] comius commented on #38
No new failures in the downstream, proceeding with release.

[2020-12-07 11:43] comius commented on #38
Change log:
[code]

Commit: https://github.com/bazelbuild/bazel/commit/6202271b9b1bdf1b73b1e2ad55f30cf467899005
Release: https://github.com/bazelbuild/java_tools/releases/tag/java_v11.0

[2020-12-07 11:43] #38 closed

[2020-12-07 11:45] comius opened #39 "Release: java_tools v10.5"
This is a backpatch release, because of the issue found in turbine https://github.com/bazelbuild/bazel/issues/12605.
As such it is compiled from https://github.com/bazelbuild/bazel/commits/java_tools-release-10.5 branch.

[2020-12-07 11:59] comius commented on #39
Pull request: https://github.com/bazelbuild/bazel/pull/12647
Testing downstream: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1804

[2020-12-07 12:30] comius commented on #39
Rc1 passes, no new failures in downstream, proceeding with release.

[2020-12-10 14:22] #39 closed

[2020-12-28 17:39] olekw commented on #31
Would it be accurate to list @iirina, @davido, and @comius as the copyright holders for this repository?

[2020-12-29 11:10] davido commented on #31
@olekw All attributions go to Bazel team.

[2020-12-30 21:13] olekw commented on #31
@davido, thanks for the response! Unfortunately, teams can not hold copyright, only legal entities may do so. And only a copyright holder can release a work under an open source license. That is obviously something people take very seriously when they will be distributing said work. :)

If this repository has the same copyright holders as the bazel repository, would it be possible to copy the AUTH

[2021-01-08 19:34] #31 closed

[2021-01-11 11:43] comius opened #41 "Release: java_tools v11.1"
Release to include fixed for bazelbuild/bazel#12605.

[2021-01-11 12:30] comius commented on #41
PR: https://github.com/bazelbuild/bazel/pull/12804

[2021-01-11 13:20] comius commented on #41
Downstream tests: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1849

[2021-01-13 11:02] comius commented on #41
Changes:
[code]

[2021-01-21 10:12] #41 closed

[2021-01-26 05:26] cushon opened #43 "Documentation on testing toolchain changes is out of date"
@comius

This page is out of date: https://github.com/bazelbuild/java_tools/blob/master/docs/behind-the-release.md#manually-trying-out-java_tools-before-the-release-process

* The `//src:java_tools_javaX.zip` target doesn't exist anymore (I think it's been replaced by e.g. `//src:java_tools_zip`).

* It refers to `--java_toolchain`, which doesn't work with bazel at head due to the switch to toolch

[2021-02-11 15:03] beasleyr-vmw opened #44 "JacocoCoverage_jarjar_deploy.jar should shade its internal copy of Guava"
One of my users has some ancient tests which are built against Guava 18. Upon upgrading to Bazel 4 with java_tools javac11-10.5, the test fails when running under `bazel coverage`.

[code]

This method was flagged as deprecated and slated for removal in Guava 20.0.

Analysis revealed that Bazel inserts `JacocoCoverage_jarjar_deploy.jar` near the head of `CLASSPATH`, and this jar contains its own,

[2021-02-11 15:25] beasleyr-vmw commented on #44
Following appears to have done the trick. `bazel coverage //mycruftytarget` now succeeds and produces a `coverage.dat` usable with `lcov`.

[code]

[2021-03-09 08:12] comius opened #45 "Release: java_tools v11.2"

[2021-03-09 08:34] comius commented on #45
Changes:
[code]

[2021-03-09 10:50] comius commented on #45
Downstream test: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1947

[2021-03-09 13:36] #45 closed

[2021-03-19 12:36] comius opened #47 "Release: java_tools v10.6"
This is a backpatch release.
As such it is compiled from https://github.com/bazelbuild/bazel/tree/release-4.1.0rc1 branch.

[2021-03-21 18:04] #47 closed

[2021-04-02 11:48] davido opened #48 "Conduct java_tools release with Java 16 toolchain"
This PR implemented Java 16 toolchain: https://github.com/bazelbuild/bazel/pull/13274.

[2021-04-13 14:26] comius opened #49 "Release: java_tools v11.3"
To include new version of error_prone and jacoco.

[2021-04-13 15:28] comius commented on #49
PR: https://github.com/bazelbuild/bazel/pull/13343
Downstream: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1992

[2021-04-13 15:31] comius commented on #49
Changes:
[code]

[2021-04-14 05:58] comius commented on #49
Downstream test discovered 2 failures in errorprone update.
Problems were fixed by https://github.com/bazelbuild/bazel/pull/13348 and https://github.com/bazelbuild/bazel-buildfarm/pull/744.

Preparing rc2.

[2021-04-14 06:52] comius commented on #49
New downstream: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1996

[2021-04-14 07:35] comius commented on #49
One more failure detected in buildfarm: https://github.com/bazelbuild/bazel-buildfarm/pull/747
The rest of downstream is clean.

[2021-04-14 14:46] #49 closed

[2021-04-16 06:13] cushon commented on #43
I think the current process is something like the following. @comius does that look right, or is there a better way to do this?

* From the main Bazel repo, build `//src:java_tools_zip` and stash it somewhere:

[code]

* Patch `distdir_deps.bzl` to refer to the local `java_tools_zip`:

[code]

* Build and run the patched Bazel

[2021-04-16 11:47] comius commented on #43
I didn't see this issue. I will update docs. Yes, a lot has changed, for example toolchain definitions are not anymore in java_tools.

This is the best way to run all the tests.

You could also unzip java_tools and add `--override_repository=java_tools=/tmp/java_tools` to just use them in a build for arbitrary project.

[2021-04-16 11:48] comius commented on #48
java_tools with Jacoco 8.6 were released, for Java 16 toolchain the release is not needed

[2021-04-16 11:48] #48 closed

[2021-04-16 11:50] #30 closed

[2021-04-16 11:51] davido commented on #48
Thanks, I confirmed that Java 16 toolchain works as expected on Bazel@HEAD.

[2021-04-16 11:52] comius commented on #26
The java_tools for some time now provide only the sources/binaries. Toolchain definitions are a part of Bazel and are documented there now. With Java platformization the flags became more general - that is just referring to Java version not actual location of the definition.

[2021-04-16 11:52] #26 closed

[2021-04-16 11:54] comius commented on #24
Fixed.

[2021-04-16 11:54] #24 closed

[2021-04-16 12:00] comius commented on #22
Do you mean adding

[code]

to the README.md?

I'm a bit skeptical about fetch and checkout. Should there also be a clone?

It this helps you, I can add it.

Otherwise you should still set the SHA, right?

[2021-09-27 11:42] hvadehra opened #51 "Release: java_tools v11.4"

[2021-09-27 11:58] hvadehra commented on #51
Started build for rc1: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/174

[2021-09-27 12:20] hvadehra commented on #51
Commit hash: a899bc7c87ffa3ccfcd5921fc4ac81cd69793318

[2021-09-27 13:02] hvadehra commented on #51
[code]

[2021-09-27 14:40] hvadehra commented on #51
[code]
CI is breaking, probably due to new error prone checks: https://github.com/google/error-prone/commit/e9aa66a800f7b30260d1ae95d9e749992b94bb82

[2021-09-27 20:27] cushon commented on #51
@hvadehra can you try again after https://github.com/bazelbuild/bazel/commit/cf573455e8205a2b79629df1b5eb4e3b9efabec1 ? That should disable the breaking change to `ReturnValueIgnored`

[2021-09-27 21:16] hvadehra commented on #51
commit hash: cf573455e8205a2b79629df1b5eb4e3b9efabec1

[code]

[2021-09-28 07:09] hvadehra commented on #51
PR: https://github.com/bazelbuild/bazel/pull/14050
Downstream: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2192

[2021-09-28 09:25] hvadehra commented on #51
[code]

[2021-09-28 09:40] hvadehra commented on #51
Released: https://github.com/bazelbuild/java_tools/releases/tag/java_v11.4

[2021-09-28 12:04] #51 closed

[2021-09-28 16:36] cushon commented on #43
Does `--override_repository=java_tools=/tmp/java_tools` still work? I tried that and it doesn't seem to do anything.

The approach in https://github.com/bazelbuild/java_tools/issues/43#issuecomment-820935861 still works for me.

[2021-10-06 14:51] hvadehra opened #52 "Release: java_tools v11.5"

[2021-10-06 14:53] hvadehra commented on #52
Commit hash: be81bb374e35bc81d36e651fb315d230f40102de

[2021-10-06 15:51] hvadehra commented on #52
PR: https://github.com/bazelbuild/bazel/pull/14089
CI: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/9454

[2021-10-06 17:26] hvadehra commented on #52
[code]

[2021-11-09 18:12] comius opened #53 "Release: java_tools v10.7"
This is a backpatch release.
It is compiled from https://github.com/bazelbuild/bazel/tree/java_tools-release-10.7 branch.

The branch was created from https://github.com/bazelbuild/bazel/tree/release-4.2.1-patches with additional cherry-pick https://github.com/bazelbuild/bazel/commit/57672aca01b3be895382c952b550c9f8edf6c9f2

[2021-11-09 20:45] comius commented on #53
Build: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/177
Update PR: https://github.com/bazelbuild/bazel/pull/14250

[2021-11-09 20:45] comius commented on #53
Fixes https://github.com/bazelbuild/bazel/issues/13758

[2021-11-09 21:19] #53 closed

[2021-11-18 16:49] hvadehra commented on #52
Released: https://github.com/bazelbuild/java_tools/releases/tag/java_v11.5

[2021-11-18 16:49] #52 closed

[2021-11-18 16:49] hvadehra opened #54 "Release: java_tools v11.6"

[2021-11-18 16:52] hvadehra commented on #54
Started build: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/178
Commit hash: 40c9b756d7f8bac20801e2a54e3d83b2112c80c6

[2021-11-18 17:47] hvadehra commented on #54
[code]

[2021-11-18 17:54] hvadehra commented on #54
PR: https://github.com/bazelbuild/bazel/pull/14296
CI: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/9776
Downstream: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2252

[2021-11-18 19:11] hvadehra commented on #54
[code]

[2021-11-18 19:20] hvadehra commented on #54
Released: https://github.com/bazelbuild/java_tools/releases/tag/java_v11.6

[2021-11-18 20:25] #54 closed

[2022-01-31 17:23] cushon commented on #43
@comius ping? It would be nice to have a way to test java_tools changes without editing `distdir_deps.bzl` and rebuilding bazel. Is `--override_repository=` still a supported way to do that? Maybe I'm just holding it wrong, but it doesn't work for me.

The following does not pick up any local modifications to `java_tools`:

[code]

[2022-01-31 18:03] comius commented on #43
The mechanism still works, except that you need to override both `java_tools` and `java_tools_linux` repositories.
You build zips with `bazel build //src:java_tools_zip` and `bazel build //src:java_tools_prebuilt_zip`.

[2022-01-31 18:53] cushon commented on #43
Is this the right idea? I can't get it to work:

[code]

I'm testing a repro for https://github.com/bazelbuild/bazel/issues/14093, which causes JavaBuilder to unconditionally OOM, and the only way I can see the behaviour I'm introducing is by patching `distdir_deps.bzl`

[2022-02-02 08:34] comius commented on #22
Closing, because there was no response.

[2022-02-02 08:34] #22 closed

[2022-04-11 10:04] hvadehra opened #55 "Release: java_tools v11.7"

[2022-04-11 10:06] hvadehra commented on #55
Started build: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/179
Commit hash: a9465dfa4b124e331b8bb3e8d0219ea3dff7cdb1

[2022-04-11 11:55] hvadehra commented on #55
Build failed due to java version mismatch. Fixed in https://github.com/bazelbuild/bazel/commit/b02458ece72d99e6ec675318d8d97d2e108cf28c

New build: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/180
Commit hash: b02458ece72d99e6ec675318d8d97d2e108cf28c

[2022-04-11 12:23] hvadehra commented on #55
[code]

[2022-04-11 12:40] hvadehra commented on #55
PR: https://github.com/bazelbuild/bazel/pull/15209
CI: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/10744
Downstream: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2430

[2022-04-11 14:23] hvadehra commented on #55
Lots of downstream failures, including bazel itself. They appear to all be errorprone checks that are failing. This is strange because the scheduled build earlier today was clean, and none of the changes between then and now should cause these errors.

[2022-04-12 15:56] hvadehra commented on #55
Creating a new RC after https://github.com/bazelbuild/bazel/commit/9fad5a3dc93cd436a5712c46e6c98d3995428ddb

[2022-04-12 16:21] hvadehra commented on #55
[code]

[2022-04-12 17:56] hvadehra commented on #55
Everything looks okay, only failures remaining are for unsupported jdk1.8 and pre-existing failures in the nightly build. Proceeding with release.

[2022-04-12 17:57] hvadehra commented on #55
[code]

[2022-04-12 18:48] hvadehra commented on #55
Released: https://github.com/bazelbuild/java_tools/releases/tag/java_v11.7

[2022-04-14 14:17] hvadehra commented on #55
Starting a new 11.7.1 release to support java 8

Build: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/182
Commit hash: ec9cca09685be8e9c8a45eed6530823b6bf04dd2

[2022-04-14 14:57] hvadehra commented on #55
[code]

[2022-04-14 15:28] hvadehra commented on #55
rc4: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/185
hash: 190533739ce4457cd5a3b31573fc2ae66f92d53e

[2022-04-14 15:43] hvadehra commented on #55
[code]

[2022-04-14 17:20] hvadehra commented on #55
[code]

[2022-05-22 18:30] nreid260 opened #56 "What happened to java_tools/turbine_deploy.jar ?"
BUILD still contains an entry for `:Turbine`, pointing to `java_tools/turbine_deploy.jar`, but that file no longer exists. Is the target unsupported?

[2022-05-24 21:23] #56 closed

[2022-06-01 18:15] mauriciogg opened #57 "Release darwin aarch64 archives"
Only x86_64 versions of java_tools exist. M1 macs are becoming the preferred machine for a lot of developers. Ideally there should be architecture specific releases.

[2022-06-14 23:53] beasleyr-vmw commented on #55
@hvadehra Quick q: Where did commit 190533739ce4457cd5a3b31573fc2ae66f92d53e come from? I'm unable to cross-reference this hash against bazelbuild/bazel, so I cannot reproduce java_tools v11.7.

[2022-06-17 20:35] ted-xie commented on #55
@hvadehra Are you still working on this release? I just pushed some new code to java_tools related to singlejar; maybe that could be bundled into this release?

[2022-06-20 10:36] hvadehra commented on #55
@beasleyr-vmw It was a temporary commit since the regular build process was broken due to java11 changes: https://github.com/bazelbuild/bazel/commit/190533739ce4457cd5a3b31573fc2ae66f92d53e

[2022-06-20 10:37] #55 closed

[2022-06-21 20:44] ted-xie opened #58 "Release: java_tools v11.8"
There were several updates to singlejar recently in bazelbuild/bazel. We need to create a new java_tools release to integrate these into Bazel itself.

cc @hvadehra @comius @ahumesky

[2022-06-27 15:14] hvadehra commented on #58
[code]

Released: https://github.com/bazelbuild/java_tools/releases/tag/java_v11.8

[2022-06-28 17:28] #58 closed

[2022-07-27 04:40] oliviernotteghem commented on #43
Facing the same issue. Unfortunately, your workaround @cushon doesn't seem to work anymore (we're on Bazel 5.2). Getting the following error. Does the workaround still work for you?

`ERROR: /Users/oliviern/Uber/android/build/.bazelw_cache/91a99194e71852b0e089ca5cc1c48073/external/rules_java/toolchains/BUILD:116:14: no such target '@remote_java_tools_darwin//:ijar_prebuilt_binary': target 'ijar_pr

[2022-07-27 06:19] oliviernotteghem commented on #43
OK, there was 2 issues :
1. WORKSPACE file is missing from zip file generate from //src:java_tools_zip (you can copy over manually the default one)
2. `--override_repository=java_tools=/tmp/java_tools` should be `--override_repository=remote_java_tools=/tmp/java_tools`

After that, I can verify the files located at /tmp/java_tools are copied over to <hash>/external/remote_java_tools/java_tools and

[2022-11-28 14:23] hvadehra opened #59 "Release: java_tools v11.9"

[2022-11-28 14:36] hvadehra commented on #59
BUILD: https://buildkite.com/bazel-trusted/java-tools-binaries-java/builds/189
COMMIT_HASH: 7bd0ab63a8441c3f3d7f495d09ed2bed38762874

[2022-11-28 14:46] hvadehra commented on #59
[code]

[2022-11-28 14:56] hvadehra commented on #59
PR: https://github.com/bazelbuild/bazel/pull/16865
Build: https://buildkite.com/bazel/bazel-bazel-github-presubmit/builds/13324

[2022-11-28 21:05] hvadehra commented on #59
Downstream has failures but all also appear at head, so proceeding with release.
[code]

[2022-11-28 21:17] hvadehra commented on #59
Released: https://github.com/bazelbuild/java_tools/releases/tag/java_v11.9

[2022-11-28 21:17] #59 closed